@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: var(--color-grey-900);
    font-weight: 300;
  }
}

@layer components {
  .btn-primary {
    border-radius: calc(infinity * 1px);
    background-color: var(--color-blue-900);
    padding-inline: --spacing(6);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-white);
    font-weight: 300;
    font-size: var(--text-lg);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        background-color: var(--color-blue-800);
        cursor: pointer;
      }
    }
    &:active {
      background-color: var(--color-blue-900);
      cursor: pointer;
    }
  }
  .btn-secondary {
    border-radius: calc(infinity * 1px);
    border-color: var(--color-blue-900);
    border-width: 3px;
    padding-inline: --spacing(6);
    padding-block: --spacing(2);
    font-weight: var(--font-weight-semibold);
    color: var(--color-blue-900);
    font-weight: 300;
    font-size: var(--text-lg);
    cursor: pointer;
    &:hover {
      @media (hover: hover) {
        border-color: var(--color-blue-800);
        color: var(--color-blue-800);
        cursor: pointer;
      }
    }
    &:active {
      border-color: var(--color-blue-900);
      color: var(--color-blue-900);
      cursor: pointer;
    }
  }
}

@theme {
  --color-green-50: #ecf8f3;
  --color-green-100: #c3e8da;
  --color-green-200: #a6ddc9;
  --color-green-300: #7ecdb0;
  --color-green-400: #65c3a1;
  --color-green-500: #3eb489;
  --color-green-600: #38a47d;
  --color-green-700: #2c8061;
  --color-green-800: #22634b;
  --color-green-900: #1a4c3a;
  --color-blue-50: #eff4ff;
  --color-blue-100: #cddcff;
  --color-blue-200: #b5cbff;
  --color-blue-300: #93b4ff;
  --color-blue-400: #7ea5ff;
  --color-blue-500: #5e8fff;
  --color-blue-600: #5682e8;
  --color-blue-700: #4366b5;
  --color-blue-800: #344f8c;
  --color-blue-900: #273c6b;
  --color-orange-50: #fff5eb;
  --color-orange-100: #ffdfc1;
  --color-orange-200: #ffcfa3;
  --color-orange-300: #feb97a;
  --color-orange-400: #feac60;
  --color-orange-500: #fe9738;
  --color-orange-600: #e78933;
  --color-orange-700: #b46b28;
  --color-orange-800: #8c531f;
  --color-orange-900: #6b3f18;
  --color-grey-50: #f0f0f0;
  --color-grey-100: #d1d1d1;
  --color-grey-200: #bababa;
  --color-grey-300: #9b9b9b;
  --color-grey-400: #888888;
  --color-grey-500: #6a6a6a;
  --color-grey-600: #606060;
  --color-grey-700: #4b4b4b;
  --color-grey-800: #3a3a3a;
  --color-grey-900: #2d2d2d;
}
